body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(255,255,231),rgb(49,192,163), rgb(67,108,164));
    font-family: sans-serif;
    color: white;
}
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;}
  h2 {
    font-size: 15px;
     font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
     color: #FFFFFF;}
  .quoteDisplay {
      font-size: 30px;
  }